src/main/resources/META-INF/mule-salesforce.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/salesforce"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://www.mulesoft.org/schema/mule/salesforce"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/schemadoc"
                schemaLocation="http://www.mulesoft.org/schema/mule/schemadoc/3.1/mule-schemadoc.xsd"/>

    <xsd:annotation>
        <xsd:appinfo>
            SalesForce Cloud Connector
        </xsd:appinfo>
        <xsd:documentation>
        </xsd:documentation>
    </xsd:annotation>

    <xsd:element name="config" type="salesforceConfigurationType" substitutionGroup="mule:abstract-extension">
        <xsd:annotation>
            <xsd:documentation>
                The config element allows you to set the username, password and security token for the
                connection to Salesforce.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="salesforceConfigurationType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractExtensionType">
                <xsd:attribute name="name" type="mule:substitutableName" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Identifies the connector so that other elements can reference it.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="username" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Login username.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="password" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Login password associated with the specified username.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="securityToken" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Login security token generated by Salesforce.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="create" type="createType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Adds one or more new records to your organization’s data.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="createType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractInterceptingMessageProcessorType">
                <xsd:sequence>
                    <xsd:element name="sObject" type="sObjectType" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                The sObjects to be created in SalesForce.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="type" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The type of sObject to be created.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="config-ref" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name of the config element for Salesforce.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="sObjectType">
        <xsd:sequence>
            <xsd:element name="field" type="mule:keyValueType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        A field within a sObject for SalesForce. Please referrer to the SalesForce
                        documentation for any specific elements which can be found here:
                        http://www.salesforce.com/us/developer/docs/api/index.htm
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="create-sobjects" type="createSObjectsType" substitutionGroup="mule:abstract-message-processor"/>
    <xsd:complexType name="createSObjectsType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractInterceptingMessageProcessorType">
                <xsd:attribute name="sObjects" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            This is a list of SalesForce specific sObjects to be created.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="config-ref" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name of the config element for Salesforce.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="convert-lead" type="convertLeadType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Converts a Lead into an Account, Contact, or (optionally) an Opportunity.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="convertLeadType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractInterceptingMessageProcessorType">
                <xsd:attribute name="leadId" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            ID of the Lead to convert. Required. For information on IDs, see ID Field Type.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="contactId" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            ID of the Contact into which the lead will be merged (this contact must be
                            associated with the specified accountId, and an accountId must be specified).
                            Required only when updating an existing contact.IMPORTANT if you are converting
                            a lead into a person account, do not specify the contactId or an error will result.
                            Specify only the accountId of the person account. If no contactID is specified,
                            then the API creates a new contact that is implicitly associated with the Account.
                            To create a new contact, the client application must be logged in with sufficient
                            access rights. To merge a lead into an existing contact, the client application
                            must be logged in with read/write access to the specified contact. The contact
                            name and other existing data are not overwritten (unless overwriteLeadSource is
                            set to true, in which case only the LeadSource field is overwritten).
                            For information on IDs, see ID Field Type.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="accountId" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            ID of the Account into which the lead will be merged. Required
                            only when updating an existing account, including person accounts.
                            If no accountID is specified, then the API creates a new account. To
                            create a new account, the client application must be logged in with
                            sufficient access rights. To merge a lead into an existing account,
                            the client application must be logged in with read/write access to the
                            specified account. The account name and other existing data are not overwritten.
                            For information on IDs, see ID Field Type.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="overWriteLeadSource" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Specifies whether to overwrite the LeadSource field on the target Contact object
                            with the contents of the LeadSource field in the source Lead object (true), or
                            not (false, the default). To set this field to true, the client application
                            must specify a contactId for the target contact.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="doNotCreateOpportunity" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Specifies whether to create an Opportunity during lead conversion (false, the
                            default) or not (true). Set this flag to true only if you do not want to create
                            an opportunity from the lead. An opportunity is created by default.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="opportunityName" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Name of the opportunity to create. If no name is specified, then this value
                            defaults to the company name of the lead. The maximum length of this field is
                            80 characters. If doNotCreateOpportunity argument is true, then no Opportunity
                            is created and this field must be left blank; otherwise, an error is returned.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="convertedStatus" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Valid LeadStatus value for a converted lead. Required.
                            To obtain the list of possible values, the client application queries the
                            LeadStatus object, as in:
                            Select Id, MasterLabel from LeadStatus where IsConverted=true
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="sendEmailToOwner" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            ID of the Lead to convert. Required. For information on IDs, see ID Field Type.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="config-ref" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            Specifies whether to send a notification email to the owner specified in the
                            ownerId (true) or not (false, the default).
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="delete" type="deleteType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Use delete() to delete one or more existing records, such as individual accounts or contacts, in your
                organization’s data. The delete() call is analogous to the DELETE statement in SQL.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="deleteType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractInterceptingMessageProcessorType">
                <xsd:attribute name="ids" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            A list of ids for objects that are to be deleted.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="config-ref" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name of the config element for Salesforce.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="empty-recycle-bin" type="emptyrecyclebinType"
                 substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                The recycle bin lets you view and restore recently deleted records for 30 days before they are
                permanently deleted. Your organization can have up to 5000 records per license in the Recycle Bin at any
                one time. For example, if your organization has five user licenses, 25,000 records can be stored in the
                Recycle Bin. If your organization reaches its Recycle Bin limit, Salesforce.com automatically removes
                the oldest records, as long as they have been in the recycle bin for at least two hours.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="emptyrecyclebinType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractInterceptingMessageProcessorType">
                <xsd:attribute name="ids" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Array of one or more IDs associated with the records to delete from the recycle bin.
                            Maximum number of records is 200.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="config-ref" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name of the config element for Salesforce.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="get-deleted-range" type="getDeletedRangeType"
                 substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Retrieves the list of individual records that have been deleted within the given timespan for the
                specified object.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="getDeletedRangeType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractInterceptingMessageProcessorType">
                <xsd:attribute name="type" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Object type. The specified value must be a valid object for your organization.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="startTime" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Starting date/time (Coordinated Universal Time (UTC)—not local— timezone) of the timespan
                            for which to retrieve the data. The API ignores the seconds portion of the specified
                            dateTime value (for example, 12:30:15 is interpreted as 12:30:00 UTC).
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="endTime" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Ending date/time (Coordinated Universal Time (UTC)—not local— timezone) of the timespan for
                            which to retrieve the data. The API ignores the seconds portion of the specified dateTime
                            value (for example, 12:35:15 is interpreted as 12:35:00 UTC).
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="config-ref" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name of the config element for Salesforce.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="get-deleted" type="getDeletedType"
                 substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Retrieves the list of individual records that have been deleted within the given timespan for the
                specified object.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="getDeletedType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractInterceptingMessageProcessorType">
                <xsd:attribute name="type" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Object type. The specified value must be a valid object for your organization.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="duration" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The amount of time in minutes before now for which to return records from.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="config-ref" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name of the config element for Salesforce.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="get-updated-range" type="getUpdatedRangeType"
                 substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Retrieves the list of individual objects that have been updated (added or changed) within the given
                timespan for the specified object.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="getUpdatedRangeType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractInterceptingMessageProcessorType">
                <xsd:attribute name="type" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Object type. The specified value must be a valid object for your organization.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="startTime" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Starting date/time (Coordinated Universal Time (UTC)—not local— timezone) of the timespan
                            for which to retrieve the data. The API ignores the seconds portion of the specified
                            dateTime value (for example, 12:30:15 is interpreted as 12:30:00 UTC).
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="endTime" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Ending date/time (Coordinated Universal Time (UTC)—not local— timezone) of the timespan for
                            which to retrieve the data. The API ignores the seconds portion of the specified dateTime
                            value (for example, 12:35:15 is interpreted as 12:35:00 UTC).
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="config-ref" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name of the config element for Salesforce.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="get-updated" type="getUpdatedType"
                 substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Retrieves the list of individual records that have been deleted within the given timespan for the
                specified object.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="getUpdatedType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractInterceptingMessageProcessorType">
                <xsd:attribute name="type" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Object type. The specified value must be a valid object for your organization.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="duration" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The amount of time in minutes before now for which to return records from.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="config-ref" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name of the config element for Salesforce.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="query" type="queryType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Executes a query against the specified object and returns data that matches the specified criteria.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="queryType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractInterceptingMessageProcessorType">
                <xsd:attribute name="query" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Query string.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="batchsize" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Number of records to return.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="config-ref" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name of the config element for Salesforce.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="query-sobject" type="querySObjectType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Executes a query against the specified object and returns data that matches the specified criteria.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="querySObjectType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractInterceptingMessageProcessorType">
                <xsd:attribute name="query" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Query string.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="batchsize" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Number of records to return.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="config-ref" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name of the config element for Salesforce.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="retrieve" type="retrieveType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Retrieves one or more records based on the specified IDs.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="retrieveType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractInterceptingMessageProcessorType">
                <xsd:attribute name="fields" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            List of one or more fields in the specified object, separated by commas. You must specify
                            valid field names and must have read-level permissions to each specified field. The
                            fieldList defines the ordering of fields in the result.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="type" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The type of sObject to be returned.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="ids" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Array of one or more IDs of the objects to retrieve. You can pass a maximum of 2000 object
                            IDs to the retrieve() call.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="config-ref" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name of the config element for Salesforce.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:element name="retrieveSObjects" type="retrieveSObjectsType"
                 substitutionGroup="mule:abstract-message-processor"/>
    <xsd:complexType name="retrieveSObjectsType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractInterceptingMessageProcessorType">
                <xsd:attribute name="fields" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            List of fields to be returned in a comma seperated list.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="type" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The type of sObject to be returned.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="ids" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            List of the ids for the objects to return.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="config-ref" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name of the config element for Salesforce.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="update-sobjects" type="updateSObjectsType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Use this call to update one or more existing records, such as accounts or contacts, in your
                organization’s data. The update() call is analogous to the UPDATE statement in SQL.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="updateSObjectsType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractInterceptingMessageProcessorType">
                <xsd:attribute name="sObjects" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            A list of sObjects to be updated.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="config-ref" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name of the config element for Salesforce.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="update" type="updateType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Use this call to update one or more existing records, such as accounts or contacts, in your
                organization’s data. The update() call is analogous to the UPDATE statement in SQL.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="updateType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractInterceptingMessageProcessorType">
                <xsd:sequence>
                    <xsd:element name="sObject" type="sObjectType" minOccurs="1" maxOccurs="unbounded"/>
                </xsd:sequence>
                <xsd:attribute name="config-ref" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name of the config element for Salesforce.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="type" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Object type. The specified value must be a valid object for your organization.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="upsert" type="upsertType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Creates new records and updates existing records; uses a custom field to determine the presence of
                existing records. In most cases, we recommend that you use upsert() instead of create() to avoid
                creating unwanted duplicate records (idempotent). Available in the API version 7.0 and later. You can
                process records for one more than object type in an create() or update() call, but all records must have
                the same object type in an upsert() call.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="upsertType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractInterceptingMessageProcessorType">
                <xsd:sequence>
                    <xsd:element name="sObject" type="sObjectType" minOccurs="1" maxOccurs="unbounded"/>
                </xsd:sequence>
                <xsd:attribute name="config-ref" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name of the config element for Salesforce.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="type" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Object type. The specified value must be a valid object for your organization.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="externalIdFieldName" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Contains the name of the field on this object with the external ID field attribute for
                            custom objects or the idLookup field property for standard objects. The idLookup field
                            property is usually on a field that is the object's ID field or name field, but there are
                            exceptions, so check for the presence of the property in the object you wish to upsert().
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="upsert-sobjects" type="upsertSObjectsType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Use this call to update one or more existing records, such as accounts or contacts, in your
                organization’s data. The update() call is analogous to the UPDATE statement in SQL.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="upsertSObjectsType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractInterceptingMessageProcessorType">
                <xsd:attribute name="sObjects" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            A list of sObjects to be upserted.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="config-ref" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name of the config element for Salesforce.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="externalIdFieldName" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Contains the name of the field on this object with the external ID field attribute for
                            custom objects or the idLookup field property for standard objects. The idLookup field
                            property is usually on a field that is the object's ID field or name field, but there are
                            exceptions, so check for the presence of the property in the object you wish to upsert().
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="sobject-to-string-transformer" type="mule:abstractTransformerType"
                 substitutionGroup="mule:abstract-transformer">
        <xsd:annotation>
            <xsd:documentation>
                A transformer that gives a human-readable description of an SObject (useful for debugging).
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="mule-sobjects-to-string-transformer" type="mule:abstractTransformerType"
                 substitutionGroup="mule:abstract-transformer">
        <xsd:annotation>
            <xsd:documentation>
                A transformer that gives a human-readable description of a list of MuleSObject (useful for debugging).
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

</xsd:schema>
